/*
* Styling for:
* - Generic
* - Navigation
* - Text
* - Buttons
* - Products info
* - Order confirmation
*/

/*
* Generic
*/

body {
  height: 100vh;
  padding-right: 0;
  margin: 0;
  background-color: #e5bccb;
  font-family: 'Source Sans Pro', sans-serif;
}

.hide {
  display: none;
}


main {
  padding-top: 80px;
}

/*
* Navigation
*/

.navbar {
  width: 100%;
  padding: 20px 0px;
  position: fixed;
  z-index: 999;
  background-color: #4879a7;
}

.fa-cart-shopping {
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
}

.logo {
  margin-left: 20px;
  margin-right: auto;
}

/*
* Shopping cart
*/

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.quantity-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}


/*
* Text
*/

h2 {
  font-size: 16px;
  font-weight: bolder;
  color: ;
  text-align: center;
}

h3 {
  font-size: 16px;
  text-align: center;
}

#number-of-products {
  text-align: center;
  font-size: 12px;
  margin-top: 12px;
}

#instock {
  text-align: center;
  font-size: 12px;
}

/*
* Buttons
*/

button {
  margin-bottom: 10px;
}

#checkout-btn {
  margin: 10px;
}

#info-btn {
  margin-left: 4px;
  padding: 5px;
  font-weight: 400;
  font-size: 24px;
  background-color: #92b9c8;
}

#addToCartBtn {
  background-color: #b9d7c8
}

#remove-btn {
  height: 38px;
  line-height: 1;
}

/*
* Products info
*/

#info-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;

}

#info-product {
  max-width: 80%;
}

#product-card {
  max-width: 250px;
  min-width: 250px;
}

/*
* Order confirmation
*/

#confirmation-container {
  display: flex;
}

#info-confirmation {
  display: flex;
  flex-direction: column;
}