/*
* Styling for:
* - Generic
* - Navigation
* - Text
* - Buttons
* - Products info
*/

/*
* Generic
*/

body {
  height: 100vh;
  padding-right: 0;
  margin: 0;
  background-image: url(images/background.jpg);
}

.hide {
  display: none;
}


main {
  padding-top: 100px;
}

/*
* Navigation
*/

.navbar {
  width: 100%;
  padding: 20px 0px;
  position: fixed;
  z-index: 999;
}

.fa-cart-shopping {
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
}

.logo {
  margin-left: 20px;
  margin-right: auto;
}

/*
* Shopping cart
*/

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.quantity-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}


/*
* Text
*/

h2 {
  font-size: 1.2rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

#number-of-products {
  padding-top: 10px;
  text-align: center;
}

/*
* Buttons
*/

button {
  margin-bottom: 10px;
}

#checkout-btn {
  margin: 10px;
}

#info-btn {
  margin-left: 4px;
}

#remove-btn {
  height: 38px;
  line-height: 1;
}

/*
* Products info
*/

#info-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;

}

#info-product {
  max-width: 80%;
}

#product-card {
  max-width: 250px;
  min-width: 250px;
}