/*
* Styling for:
* - Generic
* - Navigation
* - Text
* - Buttons
* - Products info
* - Order confirmation
*/

/*
* Generic
*/

body {
  height: 100vh;
  padding-right: 0;
  margin: 0;
  /* background-image: url(images/background.jpg); */
  background-color: #E0DFD5;
  font-family: 'Roboto Condensed', sans-serif;
}

.hide {
  display: none;
}


main {
  padding-top: 80px;
}

/*
* Navigation
*/

.navbar {
  width: 100%;
  padding: 20px 0px;
  position: fixed;
  z-index: 999;
  background-color: #313638;
}

.fa-cart-shopping {
  color: #fffcf2;
  font-size: 1.5rem;
  margin-right: 10px;
}

.logo {
  margin-left: 20px;
  margin-right: auto;
}

/*
* Shopping cart
*/

#render-cart {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.product-list {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  height: 100px;
}

.quantity-list {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 30%;
  height: 100px;
}


/*
* Text
*/

h2 {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  height: 15px;
}

h3 {
  font-size: 16px;
  text-align: center;
}

#number-of-products {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}

#instock {
  text-align: center;
  font-size: 12px;
}

/*
* Buttons
*/

button {
  margin-bottom: 10px;
}

#buyBtn {
  background-color: #F06543;
}

#backBtn {
  background-color: #313638;
}

#checkout-btn {
  background-color: #F06543;
  margin: 10px;
}

#info-btn {
  margin-left: 4px;
  background-color: #F06543;
  color: white;
}

#addToCartBtn {
  background-color: #F06543;
  color: white;
}

#outOfStockBtn {
  background-color: #F09D51;
  color: white;
}

#remove-btn {
  height: 38px;
  line-height: 1;
  background-color: #252422;
}

/*
* Products info
*/

#info-container {
  background-color: #E8E9EB;
  padding: 20px;
  border-radius: 10px;
}

#info-product {
  max-width: 80%;
}

#product-card {
  max-width: 250px;
  min-width: 250px;
}

/*
* Order confirmation
*/

#confirmation-container {
  display: flex;
  flex-direction: row;
}

/* #info-confirmation {

} */

#acceptedOrderImg {
  max-width: 100%;
}

h4 {
  font-size: 24px;
  text-align: center;
}